@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    /* ### Primary */
    --CYAN: hsl(179, 62%, 43%);
    --BRIGHT-YELLOW: hsl(71, 73%, 54%);
    --LIGHT-CYAN: hsl(179, 36%, 53%);

    /* ### Neutral */
    --LIGHT-GRAY: hsl(204, 43%, 93%);
    --GRAYISH-BLUE: hsl(218, 22%, 67%);
}
body{
    padding: 8rem 0;
    background-color: var(--LIGHT-GRAY);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Karla", serif;
}
.white{
    background-color: white;
    height: 25rem;
    width: 30rem;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
h1{
    color: var(--CYAN);
    font-size: 2rem;
    margin: 1rem 0 2.2rem 0 ;
    font-weight: bold;
}

.white h2{
    font-size: 1.6rem;
    line-height: 1.2em;
    width: 24rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
    color: var(--BRIGHT-YELLOW);
}
.white p{
    font-size: 1.4rem;
    width: 25rem;
    line-height: 1.6em;
    color: hsl(218, 11%, 52%);
}
.box{
    width: 30rem;
    max-width: 35rem;
    height: 22rem;
    background-color: beige;
    padding: 2rem;
}
.cyan{
    background-color: var(--CYAN);
}
.cyan h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: var(--LIGHT-GRAY);
}
h3{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--LIGHT-GRAY);
}
span{
    font-size: 1.5rem;
    font-weight: normal;
    color:  hsl(218, 71%, 86%);
}
.cyan p{
    font-size: 1.5rem;
    color: var(--LIGHT-GRAY);
}
.cyan div{
    background-color: var(--BRIGHT-YELLOW);
    height: 4rem;
    max-width: 28rem;
    border-radius: 0.8rem;
    display: grid;
    place-content: center;
    margin-top: 4.5rem;
    box-shadow: 2px 4px 6px  hsl(218, 11%, 52%);
}
.cyan div p{
    font-weight: bold;
    color: var(--LIGHT-GRAY);
}
.light{
    background-color: var(--LIGHT-CYAN);
    border-radius: 0 0 0.5rem 0.5rem;

}
.light h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1.2rem 0 1.6rem 0;
    color: var(--LIGHT-GRAY);
}
.light p{
    font-size: 1.4rem;
    line-height: 1.4em;
    color:  hsl(218, 71%, 86%);
}
@media (min-width: 600px) {
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .white, .box{
        width: 35rem;
    }
    .white p{
        width: 100%;
    }
    .cyan div{
        margin: 4.5rem auto 0 auto;
    }
}
@media (min-width: 1024px) {
    .pricing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "white white"
            "cyan light"
        ;
    }
    .white{
        width: 60rem;
        height: 20rem;
        padding: 4rem;
        grid-area: white;
    }
    .white h2,.white p{
        width: 90%;
    }
    .cyan{
        grid-area: cyan;
        width: 30rem;
        height: 24rem;
        padding: 4rem;
        border-radius: 0 0 0 0.5rem;
    }
    .cyan div{
        margin: 3rem 0 2rem 0;
    }
    .light{
        grid-area: light;
        width: 30rem;
        border-radius: 0 0 0.5rem 0 ;
        padding: 4rem;
        height: 24rem;
    }
    .light p{
        line-height: 1.4em;
    }
}